<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrow Book</title>
</head>
<body>
    <h1>Library Management System</h1>
    <p> Borrow History </p>
    <ul>
        {% for book in borrowed %}
        <li>({{ book }})</li>
        {% endfor %}
    </ul>

<h4>Book Reviews</h4>
<p>Drop a review for any book of your choice</p>
<form action="{{ url_for('av_reviews') }}" method="POST">
    <input type="text" name="title" placeholder="Book_Name" required>
    <input type="number" name="rating" placeholder="Book rating" required>
    <input type="text" name="review" placeholder="Write a review" required>
    <button type="submit">Post Review</button>
    
</form>
</br>

<button type="button" class="btn btn-primary"><a href="{{ url_for('reviews') }}">View Reviews</a></button>

    

</body>
</html>